// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$dg-name: 'dg';
$dg-x: 0px;
$dg-y: 0px;
$dg-offset-x: 0px;
$dg-offset-y: 0px;
$dg-width: 200px;
$dg-height: 200px;
$dg-total-width: 1252px;
$dg-total-height: 512px;
$dg-image: 'sprite.png';
$dg: (0px, 0px, 0px, 0px, 200px, 200px, 1252px, 512px, 'sprite.png', 'dg');
$facebook-name: 'facebook';
$facebook-x: 740px;
$facebook-y: 0px;
$facebook-offset-x: -740px;
$facebook-offset-y: 0px;
$facebook-width: 512px;
$facebook-height: 512px;
$facebook-total-width: 1252px;
$facebook-total-height: 512px;
$facebook-image: 'sprite.png';
$facebook: (
  740px,
  0px,
  -740px,
  0px,
  512px,
  512px,
  1252px,
  512px,
  'sprite.png',
  'facebook'
);
$icons-name: 'icons';
$icons-x: 220px;
$icons-y: 0px;
$icons-offset-x: -220px;
$icons-offset-y: 0px;
$icons-width: 500px;
$icons-height: 500px;
$icons-total-width: 1252px;
$icons-total-height: 512px;
$icons-image: 'sprite.png';
$icons: (
  220px,
  0px,
  -220px,
  0px,
  500px,
  500px,
  1252px,
  512px,
  'sprite.png',
  'icons'
);
$spritesheet-width: 1252px;
$spritesheet-height: 512px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($dg, $facebook, $icons);
$spritesheet: (1252px, 512px, 'sprite.png', $spritesheet-sprites);

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
