{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": false
  },
  "extends": "standard",
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "no-extra-semi": "error",
    "semi": [2, "always"]
  }
}
